# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class



# Environment Variables
.env

# Static files cache
staticfiles/__pycache__/*.py[cod]

# Media Uploads
media/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log